.memo {
  color: #b4b4b4;
  font-family: fantasy;
}

body {
  padding-top: 50px;
  background: #f7f7f7;
}
.wrap {
  position: relative;
  margin: 0 auto;
  width: 250px;
  height: 350px;
  cursor: pointer;
}
.wrap div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: 50% 50%;
  background-size: 250px;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3), 0 12px 20px -10px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font: bold 3em sans-serif;
  line-height: 350px;
}
.side-a {
  background: #498fbc url("http://media-hearth.cursecdn.com/attachments/9/192/feb-2015.png");
}
.side-b {
  background: #33363b url("http://media-hearth.cursecdn.com/avatars/149/109/12182.png");
}
body {
  -webkit-perspective: 800px;
}

.wrap {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

.wrap div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);
}

.wrap:hover {
  -webkit-transform: rotateY(180deg);
}
